[Unit]
Description=BIRD Internet Routing Daemon (IPv6)
After=networking.service
Before=network.target network-online.target multi-user.target shutdown.target
Conflicts=shutdown.target
Wants=network.target
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/bird/envvars
ExecStartPre=/usr/lib/bird/prepare-environment
ExecStartPre=/usr/sbin/bird6 -p
ExecReload=/usr/sbin/birdc6 configure
ExecStart=/usr/sbin/bird6 -f -u $BIRD_RUN_USER -g $BIRD_RUN_GROUP $BIRD_ARGS
Restart=on-failure
Nice=-10
OOMScoreAdjust=-200

[Install]
WantedBy=multi-user.target
